<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="your personal account page on THIS site">
    <meta name="keywords" content="Shura, web-development, php, javaScript, html5, css3"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Account page</title>
</head>
<body>
<div class="container">
    <h2>Personal information</h2>
    <form name="accountForm" id="accountForm" method="post" action="../Account/account.php" enctype="multipart/form-data">
        <fieldset>
            <legend>Personal data</legend>
            <div class="row">
                <div class="col-xs-4" style="color: #228B22">{{ message }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4" style="color: #bd2c00">{{ errorMessage }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4" ><label for="firstName">First name*:</label></div>
            </div>
            <div class="row">
                <div class="col-xs-6"><input type="text" name="firstName" id="firstName" value="{{ firstNameValue }}"></div>
                <input type="hidden" name="MAX_FILE_SIZE" value="900000">
                <div class="col-xs-6"><input type="file" name="uploadedFile" id="uploadedFile"></div>
                <div class="col-xs-6">{{ uploadedFile }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4" style="color: #bd2c00">{{ firstName }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4" ><label for="surname">Surname*:</label></div>
            </div>
            <div class="row">
                <div class="col-xs-4" ><input type="text" name="surname" id="surname" value="{{ surnameValue }}"></div>
            </div>
            <div class="row">
                <div class="col-xs-4" style="color: #bd2c00">{{ surname }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4" ><label for="address">Address:</label></div>
            </div>
            <div class="row">
                <div class="col-xs-4" ><input type="text" name="address" id="address" value="{{ addressValue }}"></div>
            </div>
            <div class="row">
                <div class="col-xs-4" ><label for="city">City*:</label></div>
            </div>
            <div class="row">
                <div class="col-xs-4" ><input type="text" name="city" id="city" value="{{ cityValue }}"></div>
            </div>
            <div class="row">
                <div class="col-xs-4"  style="color: #bd2c00">{{ city }}</div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Want to change your password?</legend>
            <div class="row">
                <div class="col-xs-4"><label for="oldPassword">Old password:</label></div>
            </div>
            <div class="row">
                <div class="col-xs-4"><input type="password" name="oldPassword" id="oldPassword" value=""></div>
            </div>
            <div class="row">
                <div class="col-xs-4" style="color: #bd2c00">{{ oldPassword }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4"><label for="newPassword">New password:</label></div>
            </div>
            <div class="row">
                <div class="col-xs-4"><input type="password" name="newPassword" id="newPassword" value=""></div>
            </div>
            <div class="row">
                <div class="col-xs-4" style="color: #bd2c00">{{ newPassword }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4"><label for="confirmNewPassword">Confirm new password:</label></div>
            </div>
            <div class="row">
                <div class="col-xs-4"><input type="password" name="confirmNewPassword" id="confirmNewPassword" value=""></div>
            </div>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-xs-4" style="color: #bd2c00">{{ confirmNewPassword }}</div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-success" type="submit" id="updateAccount" name="updateAccount" value=""><i class="fa fa-save"></i> Update account</button>
                <button class="btn btn-success" type="submit" id="changePassword" name="changePassword" value=""><i class="fa fa-save"></i> Change password</button>
                <button class="btn btn-danger" type="submit" id="deleteAccount" name="deleteAccount" value=""><i class="fa fa-minus-circle"></i> Delete account</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>